/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Marie's CSS */

/** { outline: 1px solid black; }*/


#nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right:70px;
	min-width: 950px;
	background: #000033;
	z-index: 3;
}

#logo-small {
	float: left;
	margin-left: 70px;
	padding-top: 14px;
}

#nav-elements {
	float: right;
	text-align: right;
}
h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 125px;
	font-weight: 700;
	color: black;
}

h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 75px;
	font-weight: 400;
	color: black;
}

h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 53px;
	font-weight: 700;
	display: inline;
	color: black;
}

h4 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 50px;
	font-weight: 400;
	color: black;
}

li {
	padding: 0px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 80px;
	font-weight: 700;
}

a {
	text-decoration: none;
	color: #ffffff;
}

a:hover {
	text-decoration: none;
	color: black;
}

textarea {
	width: 300px;
	height: 50px;
	padding: 0.8em 0.4em;
	margin: 0.8em auto 0.2em;
	color: black;
	border: solid 1px black;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#ss-form {
	margin-left: 50px;
	margin-top: 200px;
}

.ss-q-item-label {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 25px;
	font-weight: 300;
	color: black;
}

.ss-choice-label {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 25px;
	font-weight: 300;
	color: black;
}

.ss-secondary-text {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	font-weight: 200;
	color: black;
}
